<nav class="navbar" id="navbar">
    <div class="nav-container">
        <div class="nav-logo">
            <img src="img/logo.svg" width="30px" />
        </div>
        <ul class="nav-menu" id="navMenu">
            <li><a routerLink="/" class="nav-link">Accueil</a></li>
            <!-- <li><a routerLink="/vehicles" class="nav-link">Véhicules</a></li> -->
            <li><a routerLink="/a-propos" class="nav-link">À propos</a></li>
            <li><a routerLink="/contact" class="nav-link">Contact</a></li>
        </ul>
        <div class="nav-toggle" id="navToggle">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</nav>